.film-list {
    display: flex;
    flex-wrap: wrap;
}

.film-item {
    padding: 5px;
    background-color: #199dc5;
    text-align: center;
    margin: 5px;
    flex-basis: 18%;
    font-size: 40px;
}